/*Bootstrap remove margin*/
div.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

div.row {
  margin-right: 0px;
  margin-left: 0px
}

/*Custom Css*/
.header-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 30em;
    margin-top: -8em;
    margin-bottom: 2em;
  }